<%- include('../partials/header.ejs')%>
    <div class="container-fluid p-0 min-vh-100 " style="margin-top: 7%;">
        <%- include('../partials/adminnav.ejs')%>
            <div class="container f-flex align-items-center justify-content-center">
                <div class="row p-4 gap-3 d-flex justify-content-center">
                    <div class="DashBoardUl container col-md-2 p-0 m-0 bg-white d-flex pt-4 sideBar">
                        <ul class="d-flex flex-column">
                            <li class="dashOther fw-bold p-1 m-2 ps-4 ">
                                <img src="/assets/admin/d1.png" alt="" class="img-fluid me-2">
                                <span><a class="text-decoration-none" style="color: #cdcdcd ;"
                                        href="/admin/Dashboard">DashBoard</a></span>
                            </li>
                            <li class="sideBarlist p-1 ps-4 m-2">
                                <img src="/assets/admin/d3.png" alt="" class="img-fluid me-2">
                                <span><a href="/admin/category" class="text-decoration-none"
                                        style="color: white;">Category</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d2.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/productView" class="text-decoration-none"
                                    style="color: #cdcdcd;">Product</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d4.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/coustomers" class="text-decoration-none"
                                    style="color: #cdcdcd;">Coustomer</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d5.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="#" class="text-decoration-none" style="color: #cdcdcd;">Order</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d6.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="#" class="text-decoration-none" style="color: #cdcdcd;">Coupons</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d2.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="#" class="text-decoration-none" style="color: #cdcdcd;">Banner</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d6.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="" class="text-decoration-none" style="color: #cdcdcd;">Logout</a></span>
                            </li>
                        </ul>
                    </div>
                    <div class=" container col-md-9  p-0 m-0">
                        <div class="container p-0">
                            <div class="conatiner saleTop bg-white d-flex align-items-center mb-3">
                                <div class="container summary d-flex align-items-center justify-content-between p-4 "
                                    id="product">
                                    <h6 class="p-3 ps-4">Category</h6>
                                    <input type="text" placeholder="what are you looking for?" class="text-center">
                                </div>
                            </div>

                            <div class="container Pa_table bg-white p-2">
                                <div class="container bg-white P_table">
                                    <div class="container p-3 ">
                                        <table class="table">
                                            <thead id="tableHeader">
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Category</th>
                                                    <th scope="col">Discription</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% CategoryData.forEach((category,index)=> { %>
                                                    <tr>
                                                        <th scope="row">
                                                            <%= index+1 %>
                                                        </th>
                                                        <td scope="col">
                                                            <span>
                                                                <%= category.categoryName %>
                                                            </span>
                                                        </td>
                                                        <td scope="col">
                                                            <span>
                                                                <%= category.categoryDiscription %>
                                                            </span>
                                                        </td>
                                                        <td scope="col" class="TableButton d-flex align-items-center"
                                                            onsubmit="return confirmUpdate()">
                                                            <% if(category.isAvailable===true){%>
                                                                <form
                                                                    action="/admin/unlistCategory/<%= CategoryData[index]._id %>"
                                                                    method="POST">
                                                                    <button class="btn btn-danger m-2 text"
                                                                        type="submit">Unlist</button>
                                                                </form>
                                                                <%}else if(category.isAvailable===false){%>
                                                                    <form
                                                                        action="/admin/listCategory/<%= CategoryData[index]._id %>"
                                                                        method="POST">
                                                                        <button class="btn btn-success m-2 text"
                                                                            type="submit">List</button>
                                                                    </form>
                                                                    <%}%>
                                                                        <a href="/admin/updateCategory/<%= category._id %>"
                                                                            class="btn btn-warning text-white catagoryEdit"
                                                                            style="color:rgb(7, 7, 7)">Edit</a>
                                                        </td>
                                                    </tr>
                                                    <% }); %>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                                <div class="conatiner ms-5 pb-2">
                                    <button class="btn btn-danger addbutton">
                                        <a href="/admin/addCategory" class="text-decoration-none"
                                            style="color: white;">Add New Product</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    <script src="/js/alert.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/chart.js"></script>

    <%- include('../partials/adminfooter.ejs')%>