<%- include('../partials/header.ejs')%>
    <div class="container-fluid p-0 min-vh-100 " style="margin-top: 7%;">
        <%- include('../partials/adminnav.ejs')%>
            <div class="container f-flex align-items-center justify-content-center">
                <div class="row p-4 gap-3 d-flex justify-content-center">
                    <div class="DashBoardUl container col-md-2 p-0 m-0 bg-white d-flex pt-4 sideBar">
                        <ul class="d-flex flex-column">
                            <li class="dashOther fw-bold p-1 m-2 ps-4 ">
                                <img src="/assets/admin/d9.png" alt="" class="img-fluid me-2">
                                <span><a class="text-decoration-none" style="color: #cdcdcd;"
                                        href="/admin/Dashboard">DashBoard</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d3.png" alt="" class="img-fluid me-2">
                                <span><a href="/admin/catagory" class="text-decoration-none"
                                        style="color: #cdcdcd;">Category</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d2.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/productView" class="text-decoration-none"
                                    style="color: #cdcdcd;">Product</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d4.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/coustomers" class="text-decoration-none"
                                    style="color:  #cdcdcd;">Coustomer</a></span>
                            </li>
                            <li class="sideBarlist   p-1 ps-4 m-2">
                                <img src="/assets/admin/d5.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/order" class="text-decoration-none"
                                    style="color: white;">Order</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d6.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/coupons" class="text-decoration-none"
                                    style="color: #cdcdcd;">Coupons</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d2.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="#" class="text-decoration-none" style="color: #cdcdcd;">Banner</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d6.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="admin/logOut" class="text-decoration-none" style="color: #cdcdcd;">Logout</a></span>
                            </li>
                        </ul>
                    </div>
                    <div class=" container col-md-9  p-0 m-0">
                        <div class="container p-0">
                            <div class="conatiner saleTop bg-white d-flex align-items-center mb-3">
                                <div class="container summary d-flex align-items-center justify-content-between p-4 "
                                    id="product">
                                    <h6 class="p-3 ps-4">All Orders</h6>
                                    <input type="text" placeholder="User Name, Email, Phone" class="text-center">
                                </div>
                            </div>
                            <div class="container-fluid Pa_table bg-white p-4">
                                <div class="container-fluid bg-white P_table px-2 ">
                                    <div class="container-fluid p-0 d-flex align-items-center justify-content-center">
                                        <table class="w-100 tableSize">
                                            <thead class="cartTop" id="tableHeader"
                                                style="position:sticky; top: 0; z-index: 1;">
                                                <tr class="cart_table">
                                                    <th class="first p-3 px-4" scope="col">Id</th>
                                                    <th class="p-3" scope="col">Product</th>
                                                    <th class="p-3" scope="col">User</th>
                                                    <th class="p-3" scope="col">Payment</th>
                                                    <th class="p-3" scope="col">Phone</th>
                                                    <th class="p-3" scope="col">Cancel Status</th>
                                                    <!-- <th class="p-3" scope="col">ProductStatus</th> -->
                                                    <th class="third p-3 px-4" scope="col">Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% orderList.forEach((data,index)=>{%>
                                                    <tr class="mt-5">
                                                        <th scope="col" class="px-4">
                                                            <span>#<%=index+1%></span>
                                                        </th>
                                                        <td scope="col " class="t_Image px-3" style="cursor: pointer;">
                                                            <h6>
                                                                <% if (data.products.length> 0 &&
                                                                    data.products[0].image.length > 0) { %>
                                                                        <form action="/admin/order/details" method="POST">
                                                                            <input type="hidden" name="userId" value="<%= data.userId %>">
                                                                            <input type="hidden" name="orderId" value="<%= data._id %>">
                                                                            <button type="submit" class="image-button" style="border: 0; border-radius: 5px;">
                                                                              <img src="../../productImages/<%= data.products[0].image[0] %>" alt="" class="img-fluid" width="60" style="border-radius: 5px;">
                                                                            </button>
                                                                          </form>
                                                                 <% } else { %>
                                                                        No Image
                                                                <% } %>
                                                            </h6>
                                                        </td>
                                                        <td scope="col" class="tablefont px-3 product-name">
                                                            <span>
                                                                <%= data.user.name%>
                                                            </span>
                                                        </td>
                                                        <td scope="col" class="px-3">
                                                            <%if(data.payment.method==="COD" ){%>
                                                                <span class="badge rounded-pill bg-info">
                                                                    <%= data.payment.method%>
                                                                </span>
                                                                <%}else{%>
                                                                    <span class="badge rounded-pill bg-success">
                                                                        <%= data.payment.method%>
                                                                    </span>
                                                                    <%}%>
                                                        </td>
                                                        <td scope="col" class="px-3">
                                                            <span>
                                                                <%= data.user.number %>
                                                            </span>
                                                        </td>
                                                        <td scope="col" class="px-3">
                                                            <%if(data.orderCancleRequest===false){%>
                                                                <span class="badge rounded-pill bg-success">
                                                                    <%= data.orderCancleRequest %>
                                                                </span>
                                                                <%}else{%>
                                                                    <span class="badge rounded-pill bg-danger">
                                                                        <%= data.orderCancleRequest %>
                                                                    </span>
                                                                <%}%>
                                                        </td>
                                                        <td scope="col" class="TableButton align-items-start py-5 d-flex flex-column gap-2">
                                                            <%if(data.status==="Canceled" ){%>
                                                                <span class="badge rounded-pill bg-danger">
                                                                    <%= data.status%>
                                                                </span>
                                                                <%}else if (data.status ==="Processing"){%>
                                                                    <span class="badge rounded-pill bg-warning">
                                                                        <%= data.status%>
                                                                    </span>
                                                                    <%}else if(data.status==="Shipped" ){%>
                                                                        <span class="badge rounded-pill bg-info">
                                                                            <%= data.status%>
                                                                        </span>
                                                                    <%}else if(data.status==="Return Accepted" ){%>
                                                                        <span class="badge rounded-pill bg-success">
                                                                            <%= data.status%>
                                                                        </span>
                                                                    <%}else if(data.status==="Deliverd" ){%>
                                                                        <span class="badge rounded-pill bg-success">
                                                                            <%= data.status%>
                                                                        </span>
                                                                        <%}else{%>
                                                                            <span class="badge rounded-pill bg-info">
                                                                                <%= data.status%>
                                                                            </span>
                                                                         <%}%>
                                                        </td>
                                                    </tr>
                                                    <%})%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    <script>
        function updateOrderStatus(orderId) {
            const statusSelect = document.getElementById(`status_${orderId}`);
            const selectedStatus = statusSelect.value;
            const msg = document.getElementById('msg');

            // Send a request to update the order status
            fetch(`/admin/order/${orderId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ status: selectedStatus })
            })
                .then(response => response.json())
                .then(data => {
                    // Handle response or perform any additional actions
                    console.log(data);
                    msg.innerText = "Status Updated...."
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>
    <%- include('../partials/adminfooter.ejs')%>