<%- include('../partials/header.ejs')%>
    <div class="container-fluid p-0 min-vh-100 " style="margin-top: 7%;">
        <%- include('../partials/adminnav.ejs')%>
            <div class="container f-flex align-items-center justify-content-center">
                <div class="row p-4 gap-3 d-flex justify-content-center">
                    <div class="DashBoardUl container col-md-2 p-0 m-0 bg-white d-flex pt-4 sideBar">
                        <ul class="d-flex flex-column">
                            <li class="dashOther fw-bold p-1 m-2 ps-4 ">
                                <img src="/assets/admin/d1.png" alt="" class="img-fluid me-2">
                                <span><a class="text-decoration-none" style="color: #cdcdcd;"
                                        href="/admin/Dashboard">DashBoard</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d3.png" alt="" class="img-fluid me-2">
                                <span><a href="/admin/catagory" class="text-decoration-none"
                                        style="color: #cdcdcd;">Category</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d2.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/productView" class="text-decoration-none"
                                    style="color: #cdcdcd;">Product</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d4.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/coustomers" class="text-decoration-none"
                                    style="color:  #cdcdcd;">Coustomer</a></span>
                            </li>
                            <li class="sideBarlist   p-1 ps-4 m-2">
                                <img src="/assets/admin/d5.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/order" class="text-decoration-none"
                                    style="color: white;">Order</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d6.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/coupons" class="text-decoration-none" style="color: #cdcdcd;">Coupons</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d2.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="#" class="text-decoration-none" style="color: #cdcdcd;">Banner</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d6.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="" class="text-decoration-none" style="color: #cdcdcd;">Logout</a></span>
                            </li>
                        </ul>
                    </div>
                    <div class=" container col-md-9  p-0 m-0">
                        <div class="container p-0">
                            <div class="conatiner saleTop bg-white d-flex align-items-center mb-3">
                                <div class="container summary d-flex align-items-center justify-content-between p-4 "
                                    id="product">
                                    <h6 class="p-3 ps-4">Coustomers</h6>
                                    <input type="text" placeholder="User Name, Email, Phone" class="text-center">
                                </div>
                            </div>
                            <div class="container Pa_table bg-white p-2">
                                <div class="container bg-white P_table">
                                    <div class="container p-3 ">
                                        <table class="table" >
                                            <thead id="tableHeader" style="position: sticky; top: 0;">
                                                <tr>
                                                    <th scope="col">Id</th>
                                                    <th scope="col">Product</th>
                                                    <th scope="col">User</th>
                                                    <th scope="col">Payment</th>
                                                    <!-- <th scope="col">Address</th> -->
                                                    <th scope="col">Phone</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">ProductStatus</th>
                                                    <th scope="col">Expected Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% orderList.forEach((data,index)=>{%>
                                                    <tr>
                                                        <th scope="row">
                                                             <span>#<%=index+1%></span>
                                                        </th>
                                                        <td scope="col" class="tablefont">
                                                            <h6>
                                                                <% if (data.products.length > 0 && data.products[0].image.length > 0) { %>
                                                                    <img src="../../productImages/<%= data.products[0].image[0] %>" alt="" class="img-fluid" width="100px" style="border-radius: 5px;">
                                                                <% } else { %>
                                                                    No Image
                                                                <% } %>
                                                            </h6>
                                                        </td>
                                                        <td scope="col">
                                                            <span>
                                                               <%= data.user.name %>
                                                            </span>
                                                        </td>
                                                        <td scope="col">
                                                            <span>
                                                                <%= data.payment.method%>
                                                            </span>
                                                        </td>
                                                        <td scope="col">
                                                            <span>
                                                                <%= data.user.number %>
                                                            </span>
                                                        </td>
                                                        <td scope="col">
                                                            <span>
                                                                <%= data.orderCancleRequest %>
                                                            </span>
                                                        </td>
                                                        <td scope="col" class="TableButton d-flex flex-column">
                                                            <select name="status" id="status_<%= data._id %>"
                                                                onchange="updateOrderStatus('<%= data._id %>')">
                                                                <option value="Processing" <% if (data.status === "Processing") { %>selected<% } %>>Processing</option>
                                                                <option value="Shipped" <% if (data.status === "Shipped") { %>selected<% } %>>Shipped</option>
                                                                <option value="Out For Delivery" <% if (data.status === "Out For Delivery") { %>selected<% } %>>Out For Delivery</option>
                                                                <option value="Deliverd" <% if (data.status === "Deliverd") { %>selected<% } %>>Deliverd</option>
                                                                <option value="Canceled" <% if (data.status === "Canceled") { %>selected<% } %>>Canceled</option>
                                                            </select>
                                                            <span class="text text-success fw-bold" id="msg"></span>
                                                        </td>
                                                        <td scope="col">
                                                            <span>
                                                                <%= new Date(data.expectedDelivery).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <%})%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    <script>
        function updateOrderStatus(orderId) {
            const statusSelect = document.getElementById(`status_${orderId}`);
            const selectedStatus = statusSelect.value;
            const msg = document.getElementById('msg');
    
            // Send a request to update the order status
            fetch(`/admin/order/${orderId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ status: selectedStatus })
            })
            .then(response => response.json())
            .then(data => {
                // Handle response or perform any additional actions
                console.log(data);
                msg.innerText = "Status Updated...."
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>

    <%- include('../partials/adminfooter.ejs')%>