<%- include('../partials/header.ejs')%>
    <div class="container-fluid p-0 min-vh-100 " style="margin-top: 7%;">
        <%- include('../partials/adminnav.ejs')%>
            <div class="container f-flex align-items-center justify-content-center">
                <div class="row p-4 gap-3 d-flex justify-content-center">
                    <div class="DashBoardUl container col-md-2 p-0 m-0 bg-white d-flex pt-4 sideBar">
                        <ul class="d-flex flex-column">
                            <li class="dashOther fw-bold p-1 m-2 ps-4 ">
                                <img src="/assets/admin/d9.png" alt="" class="img-fluid me-2">
                                <span><a class="text-decoration-none" style="color: #cdcdcd;"
                                        href="/admin/Dashboard">DashBoard</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d3.png" alt="" class="img-fluid me-2">
                                <span><a href="/admin/category" class="text-decoration-none"
                                        style="color: #cdcdcd;">Category</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d2.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/productView" class="text-decoration-none"
                                    style="color: #cdcdcd;">Product</a></span>
                            </li>
                            <li class="sideBarlist p-1 ps-4 m-2">
                                <img src="/assets/admin/d4.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/coustomers" class="text-decoration-none"
                                    style="color:  white;">Coustomer</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d5.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/order" class="text-decoration-none" style="color: #cdcdcd;">Order</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d6.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/coupons" class="text-decoration-none" style="color: #cdcdcd;">Coupons</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d2.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="#" class="text-decoration-none" style="color: #cdcdcd;">Banner</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d6.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="admin/logOut" class="text-decoration-none" style="color: #cdcdcd;">Logout</a></span>
                            </li>
                        </ul>
                    </div>
                    <div class=" container col-md-9  p-0 m-0">
                        <div class="container p-0">
                            <div class="container saleTop bg-white d-flex align-items-center mb-3">
                                <div class="container summary d-flex align-items-center justify-content-between p-4 "
                                    id="product">
                                    <h6 class="p-3 ps-4">Coustomers</h6>
                                    <input type="text" placeholder="User Name, Email, Phone" class="text-center">
                                </div>
                            </div>
                            <div class="container-fluid Pa_table bg-white p-4">
                                <% if(userData.length> 0 ){%>
                                <div class="container-fluid bg-white P_table px-2 ">
                                    <div class="container-fluid p-0 d-flex align-items-center justify-content-center">
                                        <table class="w-100 tableSize">
                                            <thead class="cartTop" id="tableHeader" style="position:sticky; top: 0; z-index: 1;">
                                                <tr class="cart_table">
                                                    <th class="first p-3 px-4" scope="col">ID</th>
                                                    <th class="p-3" scope="col">Name</th>
                                                    <th class="p-3" scope="col">Email</th>
                                                    <!-- <th scope="col">Address</th> -->
                                                    <th class="p-3" scope="col">Phone</th>
                                                    <th class="third p-3" scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody >
                                                <% userData.forEach((data, index)=>{ %>
                                                    <tr class="mt-2">
                                                        <th scope="row"  class=" px-4">
                                                            <%= index +1%>
                                                        </th>
                                                        <td scope="col" class="tablefont px-3">
                                                            <h6>
                                                                <%= data.name%>
                                                            </h6>
                                                        </td>
                                                        <td scope="col"class="px-3">
                                                            <span>
                                                                <%= data.email%>
                                                            </span>
                                                        </td>
                                                        <td scope="col" class="px-3">
                                                            <span>
                                                                <%= data.number%>
                                                            </span>
                                                        </td>
                                                        <td scope="col" class="TableButton align-items-center py-3 d-flex flex-column gap-2">
                                                            <% if(data.isBlocked===false) { %>
                                                                <form action="/admin/userBlocking/<%= data._id %>"
                                                                    method="post" onclick="confirmDelete()">
                                                                    <button class="btn btn-danger text-black"
                                                                        type="submit">Block</button>
                                                                </form>
                                                                <% } else if(data.isBlocked===true) { %>
                                                                    <form action="/admin/userUnBlocking/<%= data._id %>"
                                                                        method="post" onclick="confirmunblock()">
                                                                        <button class="btn btn-success text-white"
                                                                            type="submit">UnBlock</button>
                                                                    </form>
                                                                <% } %>
                                                        </td>
                                                    </tr>
                                                    <% })%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <%}else{%>
                                    <div class="d-flex flex-column align-items-center justify-content-center">
                                        <lottie-player
                                            src="https://assets2.lottiefiles.com/private_files/lf30_cgfdhxgx.json"
                                            background="transparent" speed="1" style="width: 300px; height: 300px;"
                                            loop autoplay></lottie-player>
                                        <h5 style="font-weight: 600; color: #cdcdcd;">No Categorys Are Available Now
                                        </h5>
                                    </div>
                                <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>

    <script src="/js/alert.js"></script>
<%- include('../partials/adminfooter.ejs')%>