<%- include('../partials/header.ejs') %>
    <div class="container-fluid p-0 min-vh-100" style="margin-top: 6%;">
        <%-include('../partials/navBar.ejs') %>
            <div class="container ">
                <div class="row p-4">
                    <div class="p-2 px-4 py-4">
                        <h4 class="fw-bold">Shopping Cart</h4>
                    </div>
                    <% if(cartProducts.length>0){%>
                        <div class="row d-flex mx-2">
                            <div class="container col-lg-7 col-12 bg-white Cart_table_wapper p-4 m-0 mb-2">
                                <div class="Cart_list">
                                    <div class="px-2">
                                        <table style="width:100%; overflow-x: scroll;">
                                            <thead class="cartTop" style="position:sticky; top: 0;;">
                                                <tr class="cart_table">
                                                    <th class="first p-3"><span>Product</span></th>
                                                    <th class="p-3"><span>Quantity</span></th>
                                                    <th class="p-3"><span> Total Price</span></th>
                                                    <th class="third p-3"><span>Action</span></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% cartProducts.forEach((data,index)=>{%>
                                                    <tr>
                                                        <td class=" p-3 d-flex align-items-center ">
                                                            <a  href="/detaildView/<%= data._id%>"
                                                                class="px-0 container d-flex align-items-center text-decoration-none text-dark">
                                                                <img src="/productImages/<%= data.image[0]%>" alt=""
                                                                    class="img-fluid" width="70px"
                                                                    style="border-radius: 5px;">
                                                                <div class="d-flex flex-column product-name">
                                                                    <h6 for="" class="fw-bold ps-3 product-name"
                                                                        style="font-size: 13.5px;">
                                                                        <%=data.p_name%>
                                                                    </h6>
                                                                    <span id="StockExceed"
                                                                        class="text-danger fw-bold ps-3"></span>
                                                                </div>
                                                            </a>
                                                            <span></span>
                                                        </td>
                                                        <td class="p-3">
                                                            <div class="input-container d-flex align-items-center gap-2">
                                                                <button type="button" class="minus shadow" style="border-radius: 5px;" onclick="decreaseQuantity(this)">
                                                                    –
                                                                </button>
                                                                <input type="number"
                                                                readonly
                                                                id="quantityUpdate-<%= cartItems[index]._id %>"
                                                                class="d-flex align-items-center track-input"
                                                                data-item-id="<%= cartItems[index]._id %>"
                                                                name="quantity"
                                                                value="<%= cartItems.find(item => item.productId.toString() === data._id.toString()).quantity %>"
                                                                style="width: 40px; border: 2px solid #020202; border-radius: 4px;"
                                                                onchange="updateQuantity(this,'<%= cartItems[index]._id %>')"
                                                                min="1" >
                                                                <button type="button" class="plus shadow" style="border-radius: 5px;" onclick="increaseQuantity(this)">
                                                                    +
                                                                </button>
                                                            </div>
                                                        </td>
                                                        <td class="p-3">
                                                            <h6 for="" class="fw-bold"
                                                                id="cartPrice-<%= cartItems[index]._id %>">₹
                                                                <%= ( cartItems.find(item=> item.productId.toString() === data._id.toString()).price) %>
                                                            </h6>
                                                        </td>
                                                        <td class="p-3 text-center">
                                                            <form action="/cartDelete/<%= (
                                                            cartItems.find(item=> item.productId.toString() ===
                                                            data._id.toString())._id) %>" method="post">
                                                                <button
                                                                    class="btn btn-danger d-flex align-items-center justify-content-center"
                                                                    style="border-radius: 10px; font-size:12px; width:80%">
                                                                    <span class="p-1">Remove</span>
                                                                </button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                    <%})%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-12 mb-2">
                                <div class="cart_Bill p-5 d-flex flex-column justify-content-center">
                                    <div class="p-5 border billing_Totall d-flex align-items-center">
                                        <div class="col-lg-6">
                                            <h6 class="fw-bold">Grant Price </h6>
                                            <h6 class="fw-bold">Discount Price </h6>
                                            <h5 class="fw-bold">Total price </h5>
                                        </div>
                                        <div class="col-lg-6">
                                            <h6>:<span id="totalPrice1">
                                                    ₹ <%= productsPrice %>
                                                </span>
                                            </h6>
                                            <h6>:<span id="discountPrice">
                                                    ₹ <%= discount %></span>
                                            </h6>
                                            <h5>:<span id="totalPrice2">
                                                    ₹ <%= totalPrice %>
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center mt-4">
                                        <form action="/CheckOutPage" method="get">
                                            <button class="btn btn-danger" type="submit"
                                                style="border-radius:10px; font-size:13.5px; ">
                                                Procced to pay
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%}else{%>
                            <div class="container mx-2  bg-white d-flex flex-column align-items-center justify-content-center p-2 px-4 py-4"
                                style="border-radius: 14px; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);">
                                <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_3VDN1k.json"
                                    background="transparent" speed="5"
                                    style="width: 300px; height: 300px; opacity: 80%;" loop autoplay></lottie-player>
                                <div class="d-flex flex-column align-items-center justify-content-center "
                                    style="color: #9e9e9e;">
                                    <h5>Your Cart is Empty</h5>
                                </div>
                            </div>
                       <%}%>
                            <div class="container mt-4 mx-1">
                                    <hr class="line bg-dark">
                            </div>
                            <!--Accessory Container -->
                           <div class="row d-flex align-items-center ">
                                    <div class="p-2 px-4 py-4">
                                        <h4 class="fw-bold">Other Products</h4>
                                    </div>
                                    <div class="row col-lg-12 p-3">
                                        <%similerProducts.forEach((data,index)=>{%>
                                        <div class="container bg-white ProductCard mt-2">
                                            <!-- image rendering  -->
                                            <a href="/detaildView/<%=data._id%>">
                                                <div
                                                    class="cardImage mb-2 d-flex align-items-center justify-content-center">
                                                    <img src="/productImages/<%=data.image[1]%>" alt="Product Image">
                                                </div>
                                            </a>
                                            <div class="px-3">
                                                <span class="text-dark">
                                                    <%=data.p_name%>
                                                </span>
                                                <span></span>
                                                <div class="p_price d-flex justify-content-between">
                                                    <div class="price text-danger">₹ <text>
                                                        <%=data.finalPrice%>
                                                        </text> &nbsp; <span>₹ <%=data.price%></span></div>
                                                    <div class="favor" style="cursor: pointer;">
                                                        <i class="fa-regular fa-heart"></i>
                                                    </div>
                                                </div>
                                                <div class="rating d-flex align-items-center">
                                                    <div class="star d-flex align-items-center">
                                                        <img src="/assets/product/star.png" alt="">
                                                        <img src="/assets/product/star.png" alt="">
                                                        <img src="/assets/product/star.png" alt="">
                                                        <img src="/assets/product/star.png" alt="">
                                                        <img src="/assets/product/star.png" alt="">
                                                    </div>
                                                    <div class="value ms-2">(75)</div>
                                                </div>
                                            </div>
                                        </div>  
                                        <%})%>
                                </div>
                        </div>
                </div>
            </div>
    </div>
    <script>
         function decreaseQuantity(button) {
         const inputElement = button.nextElementSibling;
         let quantity = +inputElement.value;
         if (quantity > 1) {
             quantity--;
             inputElement.value = quantity;
             updateQuantity(inputElement, inputElement.getAttribute("data-item-id"));
         }
        }
        function increaseQuantity(button) {
         const inputElement = button.previousElementSibling;
         let quantity = +inputElement.value;
         quantity++;
         inputElement.value = quantity;
         updateQuantity(inputElement, inputElement.getAttribute("data-item-id"));
        }     
        function updateQuantity(input, itemId) {
            const cartPrice = document.getElementById(`cartPrice-${itemId}`);
            const totalPrice1 = document.getElementById('totalPrice1');
            const totalPrice2 = document.getElementById('totalPrice2');
            const discount = document.getElementById('discountPrice');
            const StockExceed = document.getElementById('StockExceed');
            const inputElement = input;
            let quantity = +$(input).val();
            console.log("njan inputinta ala" + quantity)
            $.ajax({
                url: '/cart/quantityUpdate/' + itemId,
                method: 'POST',
                data: { quantity: quantity },
                success: function (response) {
                    const totalQuantity = response.ProQuantity
                    console.log("NJan Backend ala" + totalQuantity)
                    cartPrice.innerText = `₹ ${response.cartPrice}`;
                    totalPrice1.innerText = `₹ ${response.grantTotal}`;
                    totalPrice2.innerText = `₹ ${response.total}`;
                    discount.innerText = `₹ ${response.discount}`;
                    if (totalQuantity < 5 && totalQuantity > 0) {
                        StockExceed.style.display = "block";
                        StockExceed.innerText = `Only${response.ProQuantity} left`;
                        setTimeout(() => {
                            StockExceed.style.display = "none";
                        }, 1000)
                    } else if (totalQuantity <= 0) {
                        StockExceed.style.display = "block";
                        StockExceed.innerText = "Out Of Stock";
                    }
                },
                error: function (error) {
                    console.log('Error updating quantity:', error);
                }
            });
        }
    </script>
    <%-include('../partials/footer.ejs') %>