<%- include("../partials/header.ejs")%>
    <div class="container-fluid p-0 " style="margin-top: 7%;">
        <%- include("../partials/navBar.ejs")%>
            <section class="container my-5 pt-3 p-5">
                <div class="row m-4">
                    <div class="col-1 p-0"></div>
                    <div class="left col-lg-7 col-md-7 col-12 d-flex p-0 justify-content-center">
                        <div class="smal-img-group gap-3 d-flex flex-column ">
                            <div class="smal-img-col">
                                <img src="../../productImages/<%= data.image[1]%>" width="90%" alt=""
                                    class="img-fluid smalImg">
                            </div>
                            <div class="smal-img-col">
                                <img src="../../productImages/<%= data.image[2]%>" width="90%" alt=""
                                    class="img-fluid smalImg">
                            </div>
                            <div class="smal-img-col">
                                <img src="../../productImages/<%= data.image[3]%>" width="90%" alt=""
                                    class="img-fluid smalImg">
                            </div>
                            <div class="smal-img-col">
                                <img src="../../productImages/<%= data.image[4]%>" width="90%" alt=""
                                    class="img-fluid smalImg">
                            </div>
                            <div class="smal-img-col">
                                <img src="../../productImages/<%= data.image[0]%>" width="90%" alt=""
                                    class="img-fluid smalImg">
                            </div>
                        </div>
                        <div class="mian-img col-lg-10 col-md-12 col-12">
                            <img class="img-fluid" width="85%" src="../../productImages/<%= data.image[0]%>" alt=""
                                id="zoom">
                        </div>
                    </div>
                    <div class="right col-lg-4 col-md-4 col-12 gap-3 p-0">
                        <h3 class="mt-2">
                            <%= data.p_name %>
                        </h3>
                        <div>
                            <img src="/assets/product/star.png" alt="" class="img-fluid">
                            <img src="/assets/product/star.png" alt="" class="img-fluid">
                            <img src="/assets/product/star.png" alt="" class="img-fluid">
                            <img src="/assets/product/star.png" alt="" class="img-fluid">
                            <img src="/assets/product/star.png" alt="" class="img-fluid">
                            <span>(150 reviews) &nbsp;| &nbsp;<span class="text-success">Instock</span></span>
                        </div>
                        <h2 class="mt-2 d-flex">
                            <span class="text-dark">
                                <h2>₹ &nbsp; </h2>
                            </span>
                            <%= data.finalPrice %> &nbsp;&nbsp; 
                                <span class="mt-2" style="text-decoration: line-through; color: #9a9a9a; font-size:20px;">₹ <%= data.price %></span> 
                                &nbsp;
                                <span class="text-success">
                                <h2><%= data.productOffer %>% off</h2>
                            </span>
                        </h2>
                        <div class="pt-2">
                            <p class="text-Description">
                                <%= data.description %>
                            </p>
                        </div>
                        <div class="mt-4" style="width:95%">
                            <hr class="line bg-dark">
                        </div>
                        <h5 class="pt-2">Colors:</h5>
                        <h5 class="pt-2">Size:</h5>
                        <div class="d-flex p_Cart_Buy gap-4 pt-2">
                            <%if(user){%>
                                <form action="" method="get" id="WhishList">
                                    <input type="hidden" value="<%= data._id%>" id="whishlistProductId">
                                    <button type="submit" class="btn btn-warning text-white px-5 p-2" style="font-size: 13px;">
                                        Add to Whishlist
                                    </button>
                                </form>
                                <form action="" method="post" id="CartForm">
                                    <input type="hidden" value="<%= data._id%>" id="cartProductId">
                                    <button type="submit" class="btn btn-danger text-white px-5 p-2"
                                        style="font-size: 13px;" id="addtoCart">Add to Cart</button>
                                </form>
                            <%}else{%>
                                <form action="/login" method="get">
                                    <input type="hidden" value="<%= data._id%>" id="whishlistProductId">
                                    <button type="submit" class="btn btn-warning text-white px-5 p-2" style="font-size: 13px;">
                                        Add to Whishlist
                                    </button>
                                </form>
                                <form action="/login" method="get">
                                    <input type="hidden" value="<%= data._id%>" id="cartProductId">
                                    <button type="submit" class="btn btn-danger text-white px-5 p-2"
                                        style="font-size: 13px;" id="addtoCart">Add to Cart</button>
                                </form>
                            <%}%>
                        </div>
                        <p class="text-success fw-bold mt-4 " id="CartSuccMsg"></p>
                        <div class="pt-3">
                            <div class="border border-dark p_Delivery_Border" style="max-width: 350px;">
                                <div class="d-flex align-items-center p-3 gap-3">
                                    <img class="img-fluid" src="/assets/product/icon-delivery.png" alt=""
                                        style="width:40px">
                                    <h6>Free Delivery</h6>
                                </div>
                                <hr class="p-0 m-0 bg-dark">
                                <div class="d-flex align-items-center p-3 gap-3">
                                    <img class="img-fluid" src="/assets/product/Icon-return.png" alt=""
                                        style="width:40px">
                                    <h6>Return Delivery</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-5">
                    <hr class="bg-dark m-0 p-0">
                </div>
                <h4 class="pt-4 px-5">Related Adds</h4>
                <div class="row">
                    <% category.forEach((data)=>{%>
                        <div class="col-lg-3 col-sm-6 p-3">
                            <div class="container bg-white ProductCard">
                                <!-- image rendering  -->
                                <a href="/detaildView/<%= data._id%>">
                                    <div class="cardImage mb-2">
                                        <img src="/productImages/<%=data.image[0] %>" alt="Product Image">
                                    </div>
                                </a>
                                <span>
                                    <%= data.p_name %>
                                </span>
                                <div class="p_price d-flex justify-content-between">
                                    <div class="price text-danger">₹ <text>
                                            <%= data.price %>
                                        </text> &nbsp; <span>₹ 1160</span></div>
                                    <div class="favor" style="cursor: pointer;">
                                        <i class="fa-regular fa-heart"></i>
                                    </div>
                                </div>
                                <div class="rating d-flex align-items-center">
                                    <div class="star d-flex align-items-center">
                                        <img src="/assets/product/star.png" alt="">
                                        <img src="/assets/product/star.png" alt="">
                                        <img src="/assets/product/star.png" alt="">
                                        <img src="/assets/product/star.png" alt="">
                                        <img src="/assets/product/star.png" alt="">
                                    </div>
                                    <div class="value ms-2">(75)</div>
                                </div>
                            </div>
                        </div>
                    <%});%>
                </div>
    </div>
    </section>
    </div>
    <script src="/zoom/zoom.js"></script>
    <script src="/zoom/zoomsl.min.js"></script>
    <script src="/js/P_Image.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('CartForm');
            const succMsg = document.getElementById('CartSuccMsg');
            const cartItemCount = document.getElementById('cartItemCount');
            form.addEventListener('submit', (event) => {
                event.preventDefault();
                $.ajax({
                    type: 'post',
                    url: '/cart/<%= data._id%>',
                    success: function (res) {
                        succMsg.textContent = "Product Successfully Added Your Cart"
                        const currentCount = parseInt(cartItemCount.textContent) || 0;
                        const newCount = currentCount + 1;
                        cartItemCount.textContent = newCount;
                    }
                })

            })
        })
    </script>
    <script>
        const form = document.getElementById('WhishList');
        const whishlistSuccMsg = document.getElementById('CartSuccMsg');
        form.addEventListener('submit',(event)=>{
            event.preventDefault();
        $.ajax({
           url: '/WhishList/<%= data._id%>',
           type:'post',
           success:function (res){
            if(res == "Already Existe"){
                whishlistSuccMsg.innerText = "Product Already Existe In The WhishList"
            }else{
                whishlistSuccMsg.innerText = "Product Successfully Added"
            }
            
           }
        })
        })
    </script>
    <%- include("../partials/footer.ejs")%>