<%- include('../partials/header.ejs') %>
    <div class="container-fluid p-0 min-vh-100" style="margin-top: 6%;">
        <%- include('../partials/navBar.ejs') %>
            <div class="container">
                <div class="row p-4">
                    <div class="p-2 px-4 py-4">
                        <h4 class="fw-bold">Wishlist</h4>
                    </div>
                    <% if(productDetails.length>0){%>
                    <div class="row d-flex">
                        <% productDetails.forEach((data, index)=> { %>
                            <div class="col-lg-3 col-sm-6 p-3">
                                <div class="container bg-white ProductCard-wish m-0 p-0">
                                    <div class="container">
                                        <!-- image rendering  -->
                                        <a href="/detaildView/<%=data._id%>">
                                            <div class="cardImage mb-2 p-1 d-flex align-items-center justify-content-center"
                                                style="position: relative;">
                                                <img style="width: 250px; height: 350px;" src="/productImages/<%= data.image[0] %>" alt="Product Image"  >
                                                <div style="position: absolute; top: 9px; right: -3px; border-radius: 50%; width:30px; height: 30px;">
                                                    <a href="/WhishList/<%=data._id%>"><img src="/assets/icons/delete.png" alt=""  class="img-fluid bg-white p-2" style="width:30px; height: 30px;"></a>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="d-flex">
                                            <div class="col-10">
                                                <span class="p-0 m-0">
                                                    <%= data.p_name %>
                                                </span>
                                                <div class="p_price d-flex justify-content-between">
                                                    <div class="price text-danger col-10">
                                                        <%= data.finalPrice %><text>
                                                            </text> &nbsp; <span>₹ <%= data.price %></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="favor col-2 d-flex align-items-center justify-content-center"
                                                style="cursor: pointer;">
                                                <i class="fa-solid fa-heart fa-xl" style="color: #db4444;"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="whishlistCard mt-1 d-flex align-items-center justify-content-center">
                                        <img src="/assets/icons/shoping.png" alt="" class="img-fluid" style="width: 25px;">
                                        <a href="#" class="text-decoration-none text-white addToCart"
                                            data-productid="<%= data._id %>">
                                            <span class="text-white ps-2">Add to cart</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                    <%}else{%>
                        <div class="container mx-2  bg-white d-flex flex-column align-items-center justify-content-center p-2 px-4 py-4"
                            style="border-radius: 14px; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);">
                            <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_3VDN1k.json"
                                background="transparent" speed="5"
                                style="width: 300px; height: 300px; opacity: 80%;" loop autoplay></lottie-player>
                            <div class="d-flex flex-column align-items-center justify-content-center "
                                style="color: #9e9e9e;">
                                <h5>Your WhishLIst is Empty</h5>
                            </div>
                        </div>
                        <%}%>
                </div>
            </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const addToCartLinks = document.querySelectorAll('.addToCart');
            const cartItemCount = document.getElementById('cartItemCount');

            addToCartLinks.forEach(function (link) {
                link.addEventListener('click', function (event) {
                    event.preventDefault();

                    const productId = this.getAttribute('data-productid');

                    fetch('/wishlist/cart', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ productId: productId })
                    })
                        .then(function (response) {
                            const currentCount = parseInt(cartItemCount.textContent) || 0;
                            const newCount = currentCount + 1;
                            cartItemCount.textContent = newCount;
                        })
                        .catch(function (error) {
                            console.log(error)
                        });
                });
            });
        });
    </script>
    <%- include('../partials/footer.ejs') %>