<%- include('../../partials/header.ejs') %>
    <div class="container-fluid p-0 min-vh-100" style="margin-top: 6%;">
        <%-include('../../partials/navBar.ejs') %>
            <div class="container ">
                <div class="row p-4 mb-4">
                    <div class="container col-lg-3 col-md-3 col-12 p-3 m-0">
                        <div class="container bg-white profile_left p-5">
                            <div class="mb-4 d-flex flex-column">
                                <h6>Manage My Account</h6>
                                <a href="/profile" class="text-decoration-none">My Profile</a>
                            </div>
                            <div class="mb-4 d-flex flex-column">
                                <h6>My Orders</h6>
                                <a href="/profile/order" class="text-decoration-none">My Orders</a>
                                <a href="/profile/orderReturn" class="text-decoration-none">My Return</a>
                            </div>
                            <div class="mb-4 d-flex flex-column">
                                <h6>My Address</h6>
                                <a href="/profile/address" class="text-decoration-none  text-danger">My Address</a>
                            </div>
                        </div>
                    </div>
                    <div class="container col-lg-9 col-md-9 col-12 py-3 p-0 m-0">
                        <div class="container-fluid bg-white profile_Right p-4">
                                <div class="py-3 pt-4">
                                    <h5 class="text-danger fw-bold">Add New Address</h5>
                                </div>
                                <div class="container p-0 m-0 px-1 pb-3">
                                    <div class="address_Form p-4">
                                        <form action="/profile/address/updateAddress" method="post">
                                            <div class="row d-flex">
                                                <div class="col-lg-6 col-12 d-flex flex-column p-2 gap-2 ">
                                                    <label for="">Full Name*</label>
                                                    <input type="text" name="name" value="<%=selectedAddress.name%>" required>
                                                    <input type="hidden" name="AddressId" value="<%=selectedAddress._id%>" required>
                                                </div>
                                                <div class="col-lg-6 col-12 d-flex flex-column p-2 gap-2 ">
                                                    <label for="">House Name*</label>
                                                    <input type="text" name="houseName" value="<%=selectedAddress.houseName%>" required>
                                                </div>
                                            </div>
                                            <div class="row d-flex">
                                                <div class="d-flex col-lg-6 col-12 flex-column p-2 gap-2 ">
                                                    <label for="">Street*</label>
                                                    <input type="text" name="street" value="<%=selectedAddress.street%>" required>
                                                </div>
                                                <div class="d-flex col-lg-6 col-12 flex-column p-2 gap-2 ">
                                                    <label for="">Town/City*</label>
                                                    <input type="text" name="city" value="<%=selectedAddress.city%>" required>
                                                </div>
                                            </div>
                                            <div class="d-flex row">
                                                <div class="d-flex col-lg-6 flex-column p-2 gap-2 ">
                                                    <label for="">State*</label>
                                                    <input type="text" name="state" value="<%=selectedAddress.state%>" required>
                                                </div>
                                                <div class="d-flex col-lg-6 flex-column p-2 gap-2 ">
                                                    <label for="">Phone*</label>
                                                    <input type="number" name="phone" value="<%=selectedAddress.phone%>" required>
                                                </div>
                                            </div>
                                            <div class="row f-flex align-items-end">
                                                <div class="d-flex col-lg-6 flex-column p-2 gap-2 ">
                                                    <label for="">pin*</label>
                                                    <input type="number" name="postalCode" value="<%=selectedAddress.postalCode%>" required>
                                                </div>
                                                <div class="p-2 col-lg-6 billing_button">
                                                    <button class="btn btn-success p-2" type="submit">
                                                        Update Address
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <%-include('../../partials/footer.ejs') %>